.faq{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#345974, #699ba6);
    min-height: 100vh;
}

.faq-item {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 550px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    margin-top: 30px;
    font-size: 1.3rem;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.arrow {
    transition: transform 0.3s ease-in-out;
}

.arrow.open {
    transform: rotate(180deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}