.dashboard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#345974, #699ba6);
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    width: 100%;
    align-items: center;
}

.header div{
    padding: 1rem;
    display: flex;
    gap: 20px;
}

.header button{
    border: none;
    background-color: rgb(238, 231, 231);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in;
&:hover{
    transform: translateY(-2px);
    opacity: 0.8;
}}

.header button:nth-child(2){
    border: 2px solid rgb(214, 75, 75);
}

.dashbody {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.createtable {
    width: 150px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 4%;
    transition: all 0.2s ease-in;
    color: black;
    cursor: pointer;
    background-color: rgb(214, 231, 233);
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 0px 12px #3d5155;
}

.createtable::before,
.createtable::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 400%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    border-radius: 50%;
    z-index: -1;
}

.createtable::before {
    background-color: rgba(255, 255, 255, 0.2);
}

.createtable:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.createtable:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.createtable:hover {
    color: #3d5155;
    background-color: #fff;
}

.createtable:focus {
    outline: none;
}

.dashbody form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgb(212, 201, 201);
    justify-content: center;
}

.images {
    display: flex;
    align-items: center;
    gap: 20px;
}

.images img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.2s ease-in;
&:hover{
    transform: rotate(15deg);
}}

.dashbody section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dashbody form input{
    padding: 10px;
}

.user_finances {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto;
    background:#1c313f;
    padding: 1rem;
    position: relative;
    min-height: 500px;
}

.dashboard footer{
    height: 500px;
    background-color: black;
    width: 100%;
}

.mainbuttons {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.mainbuttons button {
    padding: 10px;
    border-radius: 12px;
    transition: all 0.2s ease-in;
    border: none;
    cursor: pointer;
    background: none;
    color: inherit;
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    color: grey;
    overflow: hidden;
}

.mainbuttons button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.2s ease-in, left 0.2s ease-in;
}

.activatedacc {
    height: 50px;
    background: #2c3942;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activatedacc span{
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: #6e57c4;
    font-size: 1rem;
&:hover{
    opacity: 0.8;
}}

.activatedacc h5{
    font-size: 1rem;
}

.mainbuttons button:hover::after {
    width: 100%;
    left: 0;
}

.activebut {
    color: white !important;
}

.total-sum {
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.total-sum p{
    font-size: 1rem;
    font-weight: 400;
}

.graphs {
    display: flex;
    width: 100%;
    align-items: center;
}

.graphs_section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #9ee5f5;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    margin-top: 2rem;
}

.graphs_section h2{
    color: rgb(41, 39, 39);
}

.graphs_section span{
    color: rgb(41, 39, 39);
}

.crypto-border {
  border: 8px solid #ff6384;
}

.bonds-border {
  border: 8px solid #4bc0c0;
}

.currency-border {
  border: 8px solid #ffce56;
}

.stocks-border {
  border: 8px solid #36a2eb;
}

@media (max-width: 768px) {
    .graphs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.total-sum_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.total-sum_section span{
    font-size: 1.1rem;
    font-weight: 4100;
}

.total-sum_section h1{
    color: rgb(41, 39, 39);
    font-size: 1.4rem;
}