.incomes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.single_income{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 96%;
    background-color: #007bff;
    padding: 1rem;
    border-radius: 12px;
}

.single_incommee {
    display: flex;
    align-items: center;
}

.income_inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border-right: 1px solid black;
    height: 50px;
    padding: 10px;
    min-width: 150px;
}

.single_income h2{
    color: white;
    font-size: 1rem;
}

.single_income h3{
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.income_inside button{
    padding: 10px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid silver;
&:hover{
    opacity: 0.8;
}}

.income_inside button:nth-child(1){
    background-color: #007bff;
    color: white;
}

.income_inside button:nth-child(2){
    background-color: rgb(230, 110, 110);
    color: white;
}

.add_signes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid grey;
    padding: 1rem;
}

.add_signes input {
    width: 250px;
    border-radius: 12px !important;
    border: 1px solid #007bff !important;
    padding: 8px !important;
}

.add_signes section{
    display: flex;
    flex-direction: column;
}

.add_signes span{
    color: black;
}

.add_signes button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #007bff;
  margin-bottom: 1.5rem;
  border: none;
  color: #fff;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.add_signes button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #007bff;
  color: #000;
}

.add_signes button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.add_signes button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.add_signes button:focus { outline:0; }