.single_finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1rem;
    margin-top: 3rem;
}

.single_finance ul {
    display: flex;
    gap: 2.5rem;
    align-items: start;
}

@media (max-width: 768px) {
    .single_finance ul {
        flex-direction: column;
    }
}

.single_finance li{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    background-color: white;
    padding: 1.2rem;
    width: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.images_users {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.images_users img{
    height: 40px;
    width: 40px;
}

.single_finance li p{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.single_finance li span{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(39, 36, 36);
}

.handlebutton {
    background: linear-gradient(135deg, #41f9ff, #3c2e55);
    color: white;
    border: none;
    border-radius: 50px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.handlebutton:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.handlebutton:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete {
    background: linear-gradient(135deg, #ff416c, #ff4b2b) !important;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 14px !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.delete:hover {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    transform: translateY(2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.delete:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}